@jllt:registry=https://artifacts.jll.com/artifactory/api/npm/jllt-npm-release/
//artifacts.jll.com/artifactory/api/npm/jllt-npm-release/:_authToken=${NPM_TOKEN}
always-auth=true
legacy-peer-deps=true
